<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITOCHAN</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">

</head>

<body>
    <div class="header">
        <div class="inner-header flex">
            <h1>TitoCHAN test</h1>
        </div>
        <div>


            <div class="input">

            </div>


            </svg>
        </div>
    </div>
    <h1></h1>
    <div>

        <div class="input-group" align="center">
            <img src="/static/pic/wechat.jpg">


        </div>
        </form>
    </div>
</body>

</html>