<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/static/pic/logo.png" href="/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITOCHAN</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">

</head>

<body>
    <div class="header">
        <a href="/menu/qianhou"><button href="/menu/qianhou">分区一</button></a>

        <a href="/menu/qianru"><button href="/menu/qianru">分区二</button></a>

        <a href="/bgm"><button href="/bgm">音乐测试</button></a>

        <a href="/gpt"><button href="/gpt">秘书聊天</button></a>




        <div>
            <div class="ribbon-drop-wrapper will-change" data-component="rotation">
                <div class="ribbon-content-wrapper">
                    <div class="ribbon-content row">
                        <div class="column large-10 large-centered medium-12 small-12">

                        </div>
                    </div>
                </div>
            </div>

            <p> </p>
            <p> </p>
            <p> </p>





        </div>
        <svg class="waves" position="fixed" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="55" y="0"
                    fill="#3300916b" />
                <use xlink:href="#gentle-wave" x="50" y="3"
                    fill="#004d91af" />
                <use xlink:href="#gentle-wave" x="40" y="5"
                    fill="#009172" /> 
                <use xlink:href="#gentle-wave" x="48" y="9" fill="#fff" />
            </g>
    
        </svg>

    </div>

    <div align="center">



        <p>

        </p>
        <h1>仅供学习参考</h1>







    </div>
</body>

</html>